<!DOCTYPE html>
<html>
<head>
  <title>Countdown Timer</title>
</head>
<body>

  <h1>test</h1>
  <% if user_signed_in? %>
  	<div>Logged in</div>
  <% else %>
	<div>Not logged in</div>
  <% end %>

</body>
</html>
