- if user_signed_in?
	%p
		Hello
		= current_user.username
		%br/
		%span
			Get excited by the future!
- else
	%p
		What are you excited about?
		%br/
		%span
			Get excited by the future!
- @events.each do |event|
	%h2= link_to event.title, event
	- if (event.calendar_entry - Date.today).to_i > 0
		= (event.calendar_entry - Date.today).to_i
		days left
	- else
		This event has passed!
	%p
		Shared by
		= event.user.username
